/Ember
/Ember\ satellite\ projects
/Futuramerlin\ Projects/Data/Crystal\ Index
/Futuramerlin\ Projects/Data/ColistarrCollectionIndex
/Futuramerlin\ Projects/Data/Stream\ Backups
/Futuramerlin\ Projects/Data/Stream\ Registry/LocalStore
/.Trash-1000
