/Ember
/Ember\ satellite\ projects
/Futuramerlin\ Projects/Data/Crystal\ Index
/Futuramerlin\ Projects/Data/ColistarrCollectionIndex
/Futuramerlin\ Projects/Data/Stream\ Backups
/Futuramerlin\ Projects/Data/Stream\ Registry/LocalStore
/Creative Works
/Elliot\'s\ Reference.disabled-2017mar20
/Meta.disabled-2017mar20
/Reference
/.Trash-1000
/mail
