[submodule "Ember"]
	path = Ember
	url = git://github.com/ethus3h/ember
[submodule "Ember satellite projects"]
	path = Ember satellite projects
	url = git://github.com/ethus3h/ember-satellite-projects
